## Import Custom Quant Engine Wrapper

In [1]:
import apis.qe.myqengine as qe

## TimeSeries

In [2]:
time_series = qe.TimeSeries(start_date='-1M',
                            end_date = '0M',
                            frequency='M',
                            calendar="NAY")
time_series.get_dates()

{'calendar': 'NAY',
 'end_date': '0M',
 'frequency': 'M',
 'source': 'FdsDate',
 'start_date': '-1M'}

## Universe
### Define universe using a Screening Expression

In [3]:
#Define a universe object including all constituents of the S&P 500 as of latest close
univ = qe.ScreenUniverse(universe_expr = 'FG_CONSTITUENTS(SP50,0,CLOSE)',
                    universe_type ='Equity')
univ.get_univ()

{'security_expr': 'TICKER',
 'source': 'ScreeningExpressionUniverse',
 'universe_expr': 'FG_CONSTITUENTS(SP50,0,CLOSE)',
 'universe_type': 'Equity'}

### Define Universe using a list of IDs

In [6]:
id_univ = qe.IdUniverse(ids = ['NVDA-US','AAPL-US','IVV-US'],universe_type='Equity')
id_univ.get_univ()

{'identifiers': ['NVDA-US', 'AAPL-US', 'IVV-US'],
 'source': 'IdentifierUniverse',
 'universe_type': 'Equity'}

## Get Data

### Calculate formulas using screening

In [7]:
### Generate Data using Screening
formulas = ['P_PRICE(0,USD)','GICS_SECTOR']
df = qe.calculate(universe=univ, dates = time_series, formulas=formulas)
df.data

          DATE UNIVERSE  P_PRICE(0,USD)             GICS_SECTOR
0     20230630     CTAS          497.08             Industrials
1     20230630      RTX           97.96             Industrials
2     20230630      WEC           88.24               Utilities
3     20230630      MAA          151.86             Real Estate
4     20230630      AES           20.73               Utilities
...        ...      ...             ...                     ...
1001  20230731     CARR           59.55             Industrials
1002  20230731     OTIS           90.96             Industrials
1003  20230731     MTCH           46.51  Communication Services
1004  20230731     GEHC           78.00             Health Care
1005  20230731      WBD           13.07  Communication Services

[1006 rows x 4 columns]

### FQL

In [8]:
### Generate Data using FQL
formulas = ['OS_TOP_HLDR_ID(5,#DATE,,M,,M)']
df = qe.calculate(universe=id_univ, dates = time_series, formulas=formulas,source = "FqlExpression",is_array_return_type=True)
df.data

       DATE UNIVERSE                      OS_TOP_HLDR_ID(5,#DATE,,M,,M)
0  20230630  NVDA-US  [M4004630, M4004543, M4017554, M4006564, M4001...
1  20230630  AAPL-US  [M4004630, M4004543, M4006564, M4001597, M4032...
2  20230630   IVV-US  [M4052193, M4250148, M4137677, M4178207, M4178...
3  20230731  NVDA-US  [M4004630, M4004543, M4001597, M4006564, M4032...
4  20230731  AAPL-US  [M4004630, M4004543, M4001597, M4006564, M4032...
5  20230731   IVV-US  [M4052193, M4250148, M4137677, M4178207, M4178...