## Import myspengine

In [1]:
import apis.spar.myspengine as sp

## Pass SPAR Document Inputs

In [2]:
import pandas as pd

#Spar inputs
doc_name = "PERSONAL:RETURNS_API"
comp_name = 'Cumulative Returns Table'
comp_cat = 'Raw Data / Returns'
bench_prefix = 'SPN'

ports = ['SPY-US','IVV-US','QQQ-US']
bench = 'SP50.R'
ret_type = 'NTR'
freq = 'Daily'
curr = 'USD'
startdate = '20220101'
enddate = '20230101'

#post call to SPAR api
spar_df = sp.calc_spar_data(doc_name,comp_name,comp_cat,ports,bench,bench_prefix,ret_type,startdate,enddate,freq,curr)

### View Output

In [7]:
spar_df[list(spar_df.keys())[0]][0]

,Dates,Cumulative Return | S&P 500 - Total Return,Cumulative Return | S&P 500 - Price Return
0,12/31/2021,0.000000,0.000000
1,01/03/2022,0.637952,0.637371
2,01/04/2022,0.581259,0.573924
3,01/05/2022,-1.361757,-1.376460
4,01/06/2022,-1.449665,-1.471390
...,...,...,...
256,12/26/2022,-18.020309,-19.331359
257,12/27/2022,-18.345704,-19.657947
258,12/28/2022,-19.326504,-20.623653
259,12/29/2022,-17.907245,-19.237611
260,12/30/2022,-18.110865,-19.442946