In [1]:
from apis.misc.utils import Fred

In [2]:
start_date = '2000-01-01'
end_date = '2020-01-01'
frequency = 'q'
series_id = 'GDP'

df = Fred().get_fred_series(series_id = series_id,
                        start_date = start_date,
                        end_date = end_date,
                        frequency=frequency)
df

                  GDP
2000-01-01  10002.179
2000-04-01  10247.720
2000-07-01  10318.165
2000-10-01  10435.744
2001-01-01  10470.231
...               ...
2019-01-01  21013.085
2019-04-01  21272.448
2019-07-01  21531.839
2019-10-01  21706.532
2020-01-01  21538.032

[81 rows x 1 columns]