In [ ]:
import utils as cu
entity_match_request ={
    "input": [{"name":"Apple Inc.","clientId": "abc-123"},
    {"name":"Microsoft Corporation", "clientId": "abc-123"},
    {"name":"Amazon.com, Inc.", "clientId": "abc-123"},
    {"name":"Tesla Inc", "clientId": "abc-123"},
    {"name":"Alphabet Inc. Class A", "clientId": "abc-123"},],
    "includeEntityType": ["PUB"],
    "excludeEntityType": ["EXT"],
    "includeEntitySubType": ["PR"],
    "excludeEntitySubType": ["AR"],
    "includeParent": False
    }

cu.search_symbols(entity_data=entity_match_request)

In [1]:
import utils as cu
people_match_request ={
    "input": [{"personName":"Andy Jassy",'entity' :'Amazon'},
               {"personName":'Tim Cook','entity':'Apple'}],
    }

cu.search_people(people_data=people_match_request)

,taskId,activeRole,clientEntity,clientFirstName,clientLastName,clientMiddleName,clientSalutation,clientSuffix,clientPriority,clientPersonName,...,clientId,entity,mapStatus,matchFlag,nameMatchSource,nameMatchString,rowIndex,similarityScore,title,universeId
0,None,true,Amazon,None,None,None,None,None,None,Andy Jassy,...,None,AMAZON COM INC,MAPPED,true,Institutional Affiliation,andrew jassy,0,1.0000,"President, Chief Executive Officer & Director",None
1,None,false,Amazon,None,None,None,None,None,None,Andy Jassy,...,None,HARVARD UNIVERSITY,None,false,Institutional Affiliation,andrew jassy,0,1.0000,None,None
2,None,true,Amazon,None,None,None,None,None,None,Andy Jassy,...,None,RAINIER SCHOLARS,None,false,Institutional Affiliation,andrew jassy,0,1.0000,Trustee,None
3,None,true,Amazon,None,None,None,None,None,None,Andy Jassy,...,None,HARVARD BUSINESS SCHOOL,None,false,Institutional Affiliation,andrew jassy,0,1.0000,None,None
4,None,true,Amazon,None,None,None,None,None,None,Andy Jassy,...,None,RAINIER PREP,None,false,Institutional Affiliation,andrew jassy,0,1.0000,Chairman,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,None,true,Apple,None,None,None,None,None,None,Tim Cook,...,None,URBAN ELEVATOR SERVICE FL,None,false,Institutional Affiliation,timothy cook,1,1.0000,Co-Chief Executive Officer,None
281,None,false,Apple,None,None,None,None,None,None,Tim Cook,...,None,"Athenex, Inc.",None,false,Institutional Affiliation,cook timothy devere,1,1.0000,None,None
282,None,false,Apple,None,None,None,None,None,None,Tim Cook,...,None,Pushpay Holdings Ltd.,None,false,Institutional Affiliation,cook timothy john /pushpay/,1,1.0000,None,None
283,None,true,Apple,None,None,None,None,None,None,Tim Cook,...,None,MERCK SHARP & DOHME CORP,None,false,Institutional Affiliation,tim cooke,1,0.7756,Head-IT & Quality Management,None
284,None,false,Apple,None,None,None,None,None,None,Tim Cook,...,None,Deltic Energy Plc,None,false,Institutional Affiliation,cooke tim /deltic/,1,0.7756,None,None

In [2]:
df = cu.id_lookup('Bloomberg Barclays Agg',search_type = ['indices'],result_limit=5)
df

,index,ticker,name
symbol,,,
LHMN30587,indices,LHMN30587,Bloomberg Barclays US Aggregate Zero Duration
LHMN27452,indices,LHMN27452,Bloomberg Barclays US Aggregate x MBS 3Y Rolldown
LHMN27453,indices,LHMN27453,Bloomberg Barclays US Aggregate x MBS 5Y Rolldown
LHMN27454,indices,LHMN27454,Bloomberg Barclays US Aggregate x MBS 7Y Rolldown
LHMN10521,indices,LHMN10521,Bloomberg Barclays Global Aggregate x Treasury...